@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inclusive+Sans:ital@0;1&family=Lugrasimo&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,100;1,200;1,500&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ead7bb;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: rgb(54, 105, 54);
}
.contact .content p {
  font-weight: 300;
  color: #113946;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactInfo .box .icon {
  min-width: 60px;
  min-height: 60px;
  background: #ead7bb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}

.container .contactInfo .box .text h3 {
  font-weight: 500;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: #bca37f;
}

.contactForm h2 {
  font-size: 30px;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #070400;
  outline: none;
  resize: none;
  background-color: #cea469;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 14px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #191212;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #113946;
  font-size: 16px;
  transform: translate(-160px);
}

.contactForm .inputBox input[type='submit'] {
  width: 100px;
  background-color: #d98a1b;
  color: #040301;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
  }
  .container .contactInfo {
    width: 100%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inclusive+Sans:ital@0;1&family=Lugrasimo&family=Poppins:ital,wght@0,300;0,400;0,700;1,200;1,500&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  font-size: 14px;
}

header {
  width: 100%;
  height: 100vh;
  background-color: #ffe4c4;
  color: rgb(54, 105, 54);
}

header #particles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

header .info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  height: 100vh;
}

header .info-text h1 {
  font-size: 5rem;
  font-weight: 500;
  font-family: 'Ubuntu';
}

header .info-text h3 {
  font-size: 1.5rem;
}

header .info-text .scroll {
  position: absolute;
  bottom: 20%;
  left: 50%;
  color: rgb(148, 23, 48);
  transform: translate(0, -50%);
  transition: all 0.5s;
}

header .info-text .scrol:hover {
  opacity: 0.7;
}

header .info-text .scroll::before {
  position: absolute;
  top: -16px;
  left: -16px;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0;
  }
  15%,
  45% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 30px rgba(89, 101, 90, 0.1);
    opacity: 0;
  }
}

#about,
#features {
  background-color: #bca37f;
  padding: 40px;
}

#about .header,
#features .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
#about .header h1,
#features .header h1 {
  text-align: center;
  color: #0f2c59;
  text-transform: uppercase;
}

#about .header a,
#features .header a {
  text-decoration: none;
  font-size: 1.3em;
  color: #fff;
  border: 1px solid transparent;
  padding: 10px 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  transition: all 0.3s ease;
}

#about .header a:hover,
#features .header a:hover {
  border-color: #fff;
  box-shadow: none;
}

#about .card,
#features .card {
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  display: flex;
  gap: 30px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

#about .card:hover,
#features .card:hover {
  border-color: #fff;
  box-shadow: none;
}

#about .card img {
  max-width: 200px;
  max-height: 200px;
}

#about .card .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#about .card .info h1,
#features .card .info h1 {
  margin-bottom: 20px;
  color: #333043;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: 'Ubuntu';
}

#about .card .info p,
#features .card .info p {
  color: #313212;
  font-size: 1.1rem;
  line-height: 1.8rem;
}
#features .feature-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

#features .feature-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 350px;
}

#features .feature-cards .card .info i {
  color: #fff;
  font-size: 8rem;
  width: 100%;
  text-align: center;
  margin-bottom: 1.4rem;
}

#features .feature-cards .card .info h1 {
  text-align: center;
}

#features .feature-cards .card .info p {
  font-size: 1.1rem;
}
@media screen and (max-width: 720px) {
  header .info-text h1 {
    font-size: 4rem;
  }

  header .info-text h3 {
    font-size: 1.1rem;
  }

  #about .card {
    flex-direction: column;
    align-items: center;
  }

  #about .card img {
    max-width: 150px;
    max-height: 150px;
  }
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skills-list li {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333043;
  position: relative;
}

.skills-list li::before {
  content: '\2022';
  position: absolute;
  left: -20px;
  color: #bca37f;
}
